@import 'delivery/variables';

.choices {
  display: flex;
  flex-direction: column;
}

.choice {
  display: inline-flex;
  align-items: top;
  padding: 12px 16px;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background-color: $choice-selected-bg-hover;
  }

  &.selected {
    color: $choice-selected-color;
    background-color: $choice-selected-bg;
    border-color: $choice-selected-border-color;
  }
}
